params {
    monochromeLogs = false
    max_cpus = 12
    max_memory = '30.GB'
}

profiles {
    docker {
        process.executor = 'local'
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    gbatch {
        process.executor = 'google-batch'
        docker.enabled = true
        google.location = 'asia-southeast1'
        google.project  = 'pet-project-metagenomics'
        google.batch.spot = true 

        executor {
            name = 'google-batch'
            queueSize = 2
            submitRateLimit = '2 sec'
        }

        process {
            // Cấu hình xử lý lỗi chung
            errorStrategy = { task.exitStatus == 14 ? 'retry' : 'terminate' }
            maxRetries = 3
            containerOptions = '-u 0:0'

            // --- 1. KHÔI PHỤC "THIẾT QUÂN LUẬT" (QUAN TRỌNG) ---
            // Dòng này sẽ ÉP B UỘC FastQC (vốn đòi 6 CPU) phải chạy với 4 CPU
            withName: '.*' {
                machineType = 'e2-standard-4'
                cpus = 4
                memory = '14.GB'
            }

            // --- 2. CHIẾN THUẬT DỰ PHÒNG CHO DADA2 ---
            // Nằm dưới nên sẽ ghi đè lên cấu hình bên trên (chỉ áp dụng cho DADA2)
            withName: '.*DADA2.*' {
                // Thử 3 lần đầu với máy TO (8 CPU)
                // Lần 4 quay về máy NHỎ (4 CPU)
                machineType = { task.attempt > 3 ? 'e2-standard-4' : 'e2-standard-8' }
                cpus = { task.attempt > 3 ? 4 : 8 }
                memory = { task.attempt > 3 ? '14.GB' : '30.GB' }
                
                // Bắt buộc chạy tuần tự để không nổ Quota
                maxForks = 1 
            }
        }
        docker.runOptions = '-u 0:0'
    }
}
