params {
    monochromeLogs = false
    max_cpus = 12
    max_memory = '30.GB'
}

profiles {
    docker {
        process.executor = 'local'
        docker.enabled = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    gbatch {
        process.executor = 'google-batch'
        docker.enabled = true
        google.location = 'asia-southeast1'
        google.project  = 'pet-project-metagenomics'
        google.batch.spot = true 

        executor {
            name = 'google-batch'
            queueSize = 2
            submitRateLimit = '2 sec'
        }

        process {
            errorStrategy = { task.exitStatus == 14 ? 'retry' : 'terminate' }
            maxRetries = 3
            containerOptions = '-u 0:0'

            withName: '.*' {
                machineType = 'e2-standard-4'
                cpus = 4
                memory = '14.GB'
            }

            withName: '.*DADA2.*' {
                machineType = { task.attempt > 3 ? 'e2-standard-4' : 'e2-standard-8' }
                cpus = { task.attempt > 3 ? 4 : 8 }
                memory = { task.attempt > 3 ? '14.GB' : '30.GB' }
                
                maxForks = 1 
            }
        }
        docker.runOptions = '-u 0:0'
    }
}
